body{
	font-size: 1.5em;
	color: rgb(75,0,75);
	background-color: rgb(225,225,225);
}

h2{
	font-style: italic;
	text-transform: uppercase;
	color: rgb(100,50,200);
}

td > p{
	font-size: 1.5em;
	color: red;
}

thead{
	font-weight: bold
}